@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --font-family-roboto : 'Roboto Condensed', sans-serif;
  --font-family-open: 'Open Sans', sans-serif;
  --color-white : #fff;
  --color-black : #333;
  --color-header : #9789C4;
  --color-side: #685F8C;
  --color-card-bg : #eeeef9;
  --color-purple: #6E5FD2;
  --color-dark-purple : #454580;
}